# Cleaning sharks dataframe

Paso 1: importar dataframe y hacer una primera observación de los datos que la componen

In [47]:
import pandas as pd
import os
from re import sub
import numpy
%matplotlib inline
import matplotlib.pyplot as plt

En primer lugar, importo el dataframe con el que voy a trabajar para poder empezar a trabajar con los datos.

In [48]:
data = pd.read_csv('attacks.csv', encoding='latin-1')
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Después de haber importado este dataframe, busco resolver algunas primeras dudas (¿Qué columnas la componen?, ¿Cuántos datos continenen?, ¿Cuántos nulos hay por columna?, etc.)

In [49]:
#Número de filas y columnas
data.shape

(25723, 24)

In [50]:
#Nombre de las columnas
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [51]:
#tipo de datos
data.dtypes.head()

Case Number     object
Date            object
Year           float64
Type            object
Country         object
dtype: object

In [52]:
#También me interesa saber cuantos nulos tengo en cada variable
data.isnull().sum().head()

Case Number    17021
Date           19421
Year           19423
Type           19425
Country        19471
dtype: int64

Creo una copia de la base de datos original, para trabajar desde esa copia (tiburon):

In [53]:
tiburon = data
tiburon.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

HIPÓTESIS:

Después de haber observado el DataFrame y el tipo de información que la integra, considero que sería interesante realizar mi trabajo con respecto a la siguiente hipótesis: En los últimos años el número de ataques de tiburón tienen consecuencias menos importantes para sus víctimas. Compararé los años 2000-2010 y los años 1950-1960, observando el número total de ataques fatales así como su proporción con respecto al total de ataques. 

También quiero observar si hay más mujeres víctimas en los años 2000 que en los años 1950 (aunque no pueda contrastar datos para demostrar una causalidad, me baso en una creencia personal: creo que la emancipación de las mujeres ha hecho que en los últimos años, ellas trabajen más fuera de casa y que tengan más tiempo de ocio (en general, y por ende también en el mar). Por lo que es posible que a día de hoy tengan más posibilidades de ser víctimas de ataques de tiburones (y ataques fatales), que en los años 1950. Aunque, por supuesto, esta causalidad no la podré estudiar debido a que no tengo datos.



Paso 2: Hacer la limpieza de datos

Aunque existen muchas maneras de limpiar datos, he decidido quedarme exclusivamente con la información que me permite realizar el trabajo en base a mi hipótesis. He tomado esta decisión ya que considero que la recogida de datos contiene muchos errores por lo que considero peligroso basarme en otras columnas que no sean aquellas que necesito para mi trabajo. Veremos hasta qué punto los resultados que voy a obtener son significativos, con respecto a la muestra con la que pueda operar.

In [54]:
#Elimino las columnas con las que voy a operar, creando la variable col_malas

col_malas = tiburon.drop(columns = ['Date','Type','Country','Area','Location','Activity','Name','Age','Injury','Time','Species ','Investigator or Source','pdf','href formula','href','Case Number.1','Case Number.2','original order','Unnamed: 22','Unnamed: 23'], axis=1)
tiburon = col_malas
tiburon

        Case Number    Year Sex  Fatal (Y/N)
0        2018.06.25  2018.0    F           N
1        2018.06.18  2018.0    F           N
2        2018.06.09  2018.0    M           N
3        2018.06.08  2018.0    M           N
4        2018.06.04  2018.0    M           N
5      2018.06.03.b  2018.0    M           N
6      2018.06.03.a  2018.0    M           Y
7        2018.05.27  2018.0    M           N
8      2018.05.26.b  2018.0    M           N
9      2018.05.26.a  2018.0    M           N
10       2018.05.24  2018.0    M           N
11       2018.05.21  2018.0    M           N
12     2018.05.13.b  2018.0    M           N
13     2018.05.13.a  2018.0    M           N
14       2018.05.00  2018.0    F           N
15       2018.05.12  2018.0    M           N
16       2018.05.09  2018.0    M           N
17     2018.04.30.R  2018.0    M           N
18     2018.04.28.b  2018.0    M           N
19     2018.04.28.a  2018.0    M           N
20     2018.04.25.b  2018.0    M           N
21     2018.04.25.a  2018.0    M           N
22       2018.04.24  2018.0    M           N
23       2018.04.23  2018.0    M           N
24       2018.04.22  2018.0    M           N
25       2018.04.19  2018.0    M           N
26     2018.04.15.d  2018.0    M           N
27     2018.04.15.c  2018.0    M         NaN
28     2018.04.15.b  2018.0    M           N
29     2018.04.15.a  2018.0    M           N
...             ...     ...  ...         ...
25693           NaN     NaN  NaN         NaN
25694           NaN     NaN  NaN         NaN
25695           NaN     NaN  NaN         NaN
25696           NaN     NaN  NaN         NaN
25697           NaN     NaN  NaN         NaN
25698           NaN     NaN  NaN         NaN
25699           NaN     NaN  NaN         NaN
25700           NaN     NaN  NaN         NaN
25701           NaN     NaN  NaN         NaN
25702           NaN     NaN  NaN         NaN
25703           NaN     NaN  NaN         NaN
25704           NaN     NaN  NaN         NaN
25705           NaN     NaN  NaN         NaN
25706           NaN     NaN  NaN         NaN
25707           NaN     NaN  NaN         NaN
25708           NaN     NaN  NaN         NaN
25709           NaN     NaN  NaN         NaN
25710           NaN     NaN  NaN         NaN
25711           NaN     NaN  NaN         NaN
25712           NaN     NaN  NaN         NaN
25713           NaN     NaN  NaN         NaN
25714           NaN     NaN  NaN         NaN
25715           NaN     NaN  NaN         NaN
25716           NaN     NaN  NaN         NaN
25717           NaN     NaN  NaN         NaN
25718           NaN     NaN  NaN         NaN
25719           NaN     NaN  NaN         NaN
25720           NaN     NaN  NaN         NaN
25721           NaN     NaN  NaN         NaN
25722            xx     NaN  NaN         NaN

[25723 rows x 4 columns]

Para entrenarme a crear funciones, y sabiendo que voy a tener que limpiar muchos datos, he decidido crear una función para conocer número de valores de todas las columnas:

In [55]:
def cls_counts(df):
    for col in df.columns:
        print("---%s---" %col)
        print(df[col].value_counts())

In [56]:
#Pruebo mi función:
cls_counts(tiburon)

---Case Number---
0                 2400
2014.08.02           2
2012.09.02.b         2
1962.06.11.b         2
2006.09.02           2
2005.04.06           2
1907.10.16.R         2
2009.12.18           2
1913.08.27.R         2
1923.00.00.a         2
2013.10.05           2
1980.07.00           2
1915.07.06.a.R       2
1983.06.15           2
1966.12.26           2
1920.00.00.b         2
1990.05.10           2
1945.02.05           1
1996.10.28.a         1
2016.12.06           1
2016.07.23.a         1
ND-0119              1
2015.07.03           1
1910.05.16.R         1
2013.10.28           1
2009.07.11.a         1
2015.06.27.b         1
2008.04.27           1
1961.02.17.b         1
1988.06.01           1
                  ...
1899.05.28           1
1930.08.31           1
1999.08.26           1
2016.10.01           1
1895.00.00.b         1
1972.09.04           1
1868.01.04.R         1
1998.08.15           1
1988.07.23           1
2017.04.17.a         1
1984.01.04           1
2009.07.24.b         1
2012.06.28.R         1
2004.05.22.b         1
2018.06.25           1
2011.03.21.a         1
2015.06.27.a         1
1999.04.11           1
1988.06.09           1
1929.02.18           1
1975.08.09           1
2016.09.18.a         1
1934.03.00           1
1950.07.19           1
1998.02.23           1
2017.01.13.b         1
1923.12.02           1
1839.11.17           1
1984.11.11           1
1888.12.00           1
Name: Case Number, Length: 6287, dtype: int64
---Year---
2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
0.0       125
2008.0    122
2013.0    122
2009.0    120
2012.0    117
2007.0    112
2006.0    103
2005.0    103
2010.0    101
2000.0     97
1959.0     93
1960.0     93
2003.0     92
2004.0     92
2001.0     92
2002.0     88
1962.0     86
1961.0     78
1995.0     76
1999.0     66
1964.0     66
1998.0     65
1963.0     61
1996.0     61
1966.0     58
         ...
1784.0      1
1617.0      1
1764.0      1
1721.0      1
1792.0      1
1834.0      1
1841.0      1
1595.0      1
1755.0      1
1738.0      1
1807.0      1
1723.0      1
1804.0      1
1780.0      1
1801.0      1
1767.0      1
1815.0      1
1822.0      1
1818.0      1
1783.0      1
1797.0      1
1800.0      1
1771.0      1
1748.0      1
1555.0      1
1753.0      1
77.0        1
1785.0      1
1580.0      1
1543.0      1
Name: Year, Length: 249, dtype: int64
---Sex ---
M      5094
F       637
N         2
M         2
lli       1
.         1
Name: Sex , dtype: int64
---Fatal (Y/N)---
N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
y             1
N             1
Name: Fatal (Y/N), dtype: int64

Ahora voy a centrarme en limpiar por separado aquellas columnas que componen mi nueva tabla.

A) Fila Case Number

En primer lugar, quiero eliminar las filas duplicadas en la columna Case Number, ya que cada fila debería tener un valor diferente: vemos que cada registro está compuesto de la fecha AAAA-MM-DD y de letras en los casos en los que ha habido más de un ataque en el día. No podemos tener la certeza de que quitando duplicados tengamos el número total real de ataques, pero de ningún otro modo podríamos tener esa certeza.

In [57]:
#Eliminamos los registros duplicados si los hubiese
var1 = tiburon.drop_duplicates(subset=['Case Number'], keep='first')
tiburon['Case Number'] = var1
tiburon.head()

  Case Number    Year Sex  Fatal (Y/N)
0  2018.06.25  2018.0    F           N
1  2018.06.18  2018.0    F           N
2  2018.06.09  2018.0    M           N
3  2018.06.08  2018.0    M           N
4  2018.06.04  2018.0    M           N

Ahora voy a cambiar los registros nulos por 0:

In [60]:
var2 = tiburon.dropna(how = 'any')
tiburon = var2
tiburon.head()

  Case Number    Year Sex  Fatal (Y/N)
0  2018.06.25  2018.0    F           N
1  2018.06.18  2018.0    F           N
2  2018.06.09  2018.0    M           N
3  2018.06.08  2018.0    M           N
4  2018.06.04  2018.0    M           N

In [ ]:
var3 = tiburon.drop([0],axis=0)

In [59]:
#Ahora voy a trabajar con la columna Year:

In [1453]:
#YEAR
tiburon["Year"].value_counts()

#Observo que los registros son float y que también hay valores inverosímiles.

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
0.0       125
2008.0    122
2013.0    122
2009.0    120
2012.0    117
2007.0    112
2006.0    103
2005.0    103
2010.0    101
2000.0     97
1959.0     93
1960.0     93
2003.0     92
2004.0     92
2001.0     92
2002.0     88
1962.0     86
1961.0     78
1995.0     76
1999.0     66
1964.0     66
1998.0     65
1963.0     61
1996.0     61
1966.0     58
         ...
1784.0      1
1617.0      1
1764.0      1
1721.0      1
1792.0      1
1834.0      1
1841.0      1
1595.0      1
1755.0      1
1738.0      1
1807.0      1
1723.0      1
1804.0      1
1780.0      1
1801.0      1
1767.0      1
1815.0      1
1822.0      1
1818.0      1
1783.0      1
1797.0      1
1800.0      1
1771.0      1
1748.0      1
1555.0      1
1753.0      1
77.0        1
1785.0      1
1580.0      1
1543.0      1
Name: Year, Length: 249, dtype: int64

In [1454]:
#Voy a ponerle otro valor a los valores nulos y así poder cambiar el tipo de los registros de Year:
#var4 = tiburon.fillna(0)
#tiburon = var4
#tiburon

In [1455]:
#Voy a cambiar el tipo de los registros de la columna Year para quitar el ".0" 
#de todos los valores, ahora que ya no tengo valores nulos:

var5 = tiburon["Year"].astype("object")
tiburon["Year"]= var5
tiburon

        Case Number  Year Sex  Fatal (Y/N)
0        2018.06.25  2018    F           N
1        2018.06.18  2018    F           N
2        2018.06.09  2018    M           N
3        2018.06.08  2018    M           N
4        2018.06.04  2018    M           N
5      2018.06.03.b  2018    M           N
6      2018.06.03.a  2018    M           Y
7        2018.05.27  2018    M           N
8      2018.05.26.b  2018    M           N
9      2018.05.26.a  2018    M           N
10       2018.05.24  2018    M           N
11       2018.05.21  2018    M           N
12     2018.05.13.b  2018    M           N
13     2018.05.13.a  2018    M           N
14       2018.05.00  2018    F           N
15       2018.05.12  2018    M           N
16       2018.05.09  2018    M           N
17     2018.04.30.R  2018    M           N
18     2018.04.28.b  2018    M           N
19     2018.04.28.a  2018    M           N
20     2018.04.25.b  2018    M           N
21     2018.04.25.a  2018    M           N
22       2018.04.24  2018    M           N
23       2018.04.23  2018    M           N
24       2018.04.22  2018    M           N
25       2018.04.19  2018    M           N
26     2018.04.15.d  2018    M           N
27     2018.04.15.c  2018    M         NaN
28     2018.04.15.b  2018    M           N
29     2018.04.15.a  2018    M           N
...             ...   ...  ...         ...
25693           NaN   NaN  NaN         NaN
25694           NaN   NaN  NaN         NaN
25695           NaN   NaN  NaN         NaN
25696           NaN   NaN  NaN         NaN
25697           NaN   NaN  NaN         NaN
25698           NaN   NaN  NaN         NaN
25699           NaN   NaN  NaN         NaN
25700           NaN   NaN  NaN         NaN
25701           NaN   NaN  NaN         NaN
25702           NaN   NaN  NaN         NaN
25703           NaN   NaN  NaN         NaN
25704           NaN   NaN  NaN         NaN
25705           NaN   NaN  NaN         NaN
25706           NaN   NaN  NaN         NaN
25707           NaN   NaN  NaN         NaN
25708           NaN   NaN  NaN         NaN
25709           NaN   NaN  NaN         NaN
25710           NaN   NaN  NaN         NaN
25711           NaN   NaN  NaN         NaN
25712           NaN   NaN  NaN         NaN
25713           NaN   NaN  NaN         NaN
25714           NaN   NaN  NaN         NaN
25715           NaN   NaN  NaN         NaN
25716           NaN   NaN  NaN         NaN
25717           NaN   NaN  NaN         NaN
25718           NaN   NaN  NaN         NaN
25719           NaN   NaN  NaN         NaN
25720           NaN   NaN  NaN         NaN
25721           NaN   NaN  NaN         NaN
25722            xx   NaN  NaN         NaN

[25723 rows x 4 columns]

In [1456]:
#No soy capaz de quitar los 0
var6 = tiburon.dropna(how = 'any')
tiburon = var6
tiburon

#Esto está bien:
#var7 = tiburon.loc[~(tiburon!=0).any(axis=1)]
#tiburon = var7
#tiburon

       Case Number  Year Sex  Fatal (Y/N)
0       2018.06.25  2018    F           N
1       2018.06.18  2018    F           N
2       2018.06.09  2018    M           N
3       2018.06.08  2018    M           N
4       2018.06.04  2018    M           N
5     2018.06.03.b  2018    M           N
6     2018.06.03.a  2018    M           Y
7       2018.05.27  2018    M           N
8     2018.05.26.b  2018    M           N
9     2018.05.26.a  2018    M           N
10      2018.05.24  2018    M           N
11      2018.05.21  2018    M           N
12    2018.05.13.b  2018    M           N
13    2018.05.13.a  2018    M           N
14      2018.05.00  2018    F           N
15      2018.05.12  2018    M           N
16      2018.05.09  2018    M           N
17    2018.04.30.R  2018    M           N
18    2018.04.28.b  2018    M           N
19    2018.04.28.a  2018    M           N
20    2018.04.25.b  2018    M           N
21    2018.04.25.a  2018    M           N
22      2018.04.24  2018    M           N
23      2018.04.23  2018    M           N
24      2018.04.22  2018    M           N
25      2018.04.19  2018    M           N
26    2018.04.15.d  2018    M           N
28    2018.04.15.b  2018    M           N
29    2018.04.15.a  2018    M           N
30      2018.04.14  2018    M           N
...            ...   ...  ...         ...
6270       ND.0033     0    M           N
6271       ND.0032     0    M           N
6272       ND.0031     0    M           N
6273       ND.0030     0    M           Y
6274       ND.0028     0    M           N
6275       ND.0027     0    M           N
6276       ND.0026     0    M           Y
6277       ND.0025     0    M     UNKNOWN
6279       ND.0023     0    F           N
6280       ND.0022     0    M           N
6281       ND.0021     0    M           Y
6282       ND.0020     0    M           Y
6283       ND.0019     0    M           N
6284       ND.0018     0    M           N
6285       ND.0017     0    M           Y
6286       ND.0016     0    M           Y
6288       ND.0014     0    M           N
6289       ND.0013     0    M           Y
6290       ND.0012     0    M           Y
6291       ND.0011     0    M           N
6292       ND.0010     0    F           N
6293       ND.0009     0    M           Y
6294       ND.0008     0    M           Y
6295       ND.0007     0    M           Y
6296       ND.0006     0    M           Y
6297       ND.0005     0    M           Y
6298       ND.0004     0    M           Y
6299       ND.0003     0    M           Y
6300       ND.0002     0    M           Y
6301       ND.0001     0    M           Y

[5263 rows x 4 columns]

In [1457]:
#data5 = data4[data4["Year"]!= 0].copy()
#ass1 = data4[data4["Year"]!= 0].copy()
#ass1
#data4["Year"] = ass1
#cls_counts(data4)

In [1458]:
#Voy a borrar los registros que no contienen año o un año realista (por ejemplo, 5, 77), 
#ya que va a resultar imposible trabajar con ello.
#Podría basarme en los registros como Case Number, pero tampoco tengo la certeza de que esos datos estén bien, y el 
#número de datos no es mi significativo para el total de registros que contiene la columna Years.

#data4["Year"].replace([0, 5, 77],[1, 1, 1])
#data5["Year"] = data4["Year"]

In [1459]:
#data6 = data5.drop([1],axis=0)
#data6
#data5["Year"] = data5.set_index("Year",inplace=True)
#data4.drop["Year"]([1, 0, 5, 77], axis=0)
#data5.drop([1], axis=0,inplace=True)

#data = data.set_index("Area")
#data = data.drop("Ireland", axis=0)

In [1460]:
#ass2 = data4["Year"].drop < 1000

#data4["Year"] = ass2
#data4.head()

#cols_no_nulls = raw_df2.columns[raw_df2.isnull().sum() < 1000]
#data_clean = data_clean[data_clean["Months"] & data_clean["Year"] != 0].copy()

In [1461]:
#FATAL
#tiburon["Fatal (Y/N)"].value_counts()

In [1462]:
#var7 = data2.replace(['y', ' N','N ','M','2017',],['Y','N','N','N','UNKNOWN'])
#No entiendo porqué Year vuelve a ser un float
var7 = tiburon.replace("[^N]", "N")
tiburon = var7
tiburon
#data3["Fatal (Y/N)"].value_counts()

       Case Number    Year Sex  Fatal (Y/N)
0       2018.06.25  2018.0    F           N
1       2018.06.18  2018.0    F           N
2       2018.06.09  2018.0    M           N
3       2018.06.08  2018.0    M           N
4       2018.06.04  2018.0    M           N
5     2018.06.03.b  2018.0    M           N
6     2018.06.03.a  2018.0    M           Y
7       2018.05.27  2018.0    M           N
8     2018.05.26.b  2018.0    M           N
9     2018.05.26.a  2018.0    M           N
10      2018.05.24  2018.0    M           N
11      2018.05.21  2018.0    M           N
12    2018.05.13.b  2018.0    M           N
13    2018.05.13.a  2018.0    M           N
14      2018.05.00  2018.0    F           N
15      2018.05.12  2018.0    M           N
16      2018.05.09  2018.0    M           N
17    2018.04.30.R  2018.0    M           N
18    2018.04.28.b  2018.0    M           N
19    2018.04.28.a  2018.0    M           N
20    2018.04.25.b  2018.0    M           N
21    2018.04.25.a  2018.0    M           N
22      2018.04.24  2018.0    M           N
23      2018.04.23  2018.0    M           N
24      2018.04.22  2018.0    M           N
25      2018.04.19  2018.0    M           N
26    2018.04.15.d  2018.0    M           N
28    2018.04.15.b  2018.0    M           N
29    2018.04.15.a  2018.0    M           N
30      2018.04.14  2018.0    M           N
...            ...     ...  ...         ...
6270       ND.0033     0.0    M           N
6271       ND.0032     0.0    M           N
6272       ND.0031     0.0    M           N
6273       ND.0030     0.0    M           Y
6274       ND.0028     0.0    M           N
6275       ND.0027     0.0    M           N
6276       ND.0026     0.0    M           Y
6277       ND.0025     0.0    M     UNKNOWN
6279       ND.0023     0.0    F           N
6280       ND.0022     0.0    M           N
6281       ND.0021     0.0    M           Y
6282       ND.0020     0.0    M           Y
6283       ND.0019     0.0    M           N
6284       ND.0018     0.0    M           N
6285       ND.0017     0.0    M           Y
6286       ND.0016     0.0    M           Y
6288       ND.0014     0.0    M           N
6289       ND.0013     0.0    M           Y
6290       ND.0012     0.0    M           Y
6291       ND.0011     0.0    M           N
6292       ND.0010     0.0    F           N
6293       ND.0009     0.0    M           Y
6294       ND.0008     0.0    M           Y
6295       ND.0007     0.0    M           Y
6296       ND.0006     0.0    M           Y
6297       ND.0005     0.0    M           Y
6298       ND.0004     0.0    M           Y
6299       ND.0003     0.0    M           Y
6300       ND.0002     0.0    M           Y
6301       ND.0001     0.0    M           Y

[5263 rows x 4 columns]

In [1463]:
#No consigo hacer que el número de casos sea count
#tiburon['Case Number'] = [len(x) for x in tiburon ['Case number Count']]
#tiburon

In [1464]:
#Después de haber limpiado un poco mis columnas, voy a agrupar las columnas que me interesan
#de manera a poder estudiarlas con mayor profundidad

In [1465]:
#df_pivot = tiburon.pivot_table(values = 'len()', columns = 'Year','Fatal (Y/N)', index = ['Sex '])
#tiburon = df_pivot
#tiburon

In [1466]:
#var8 = tiburon.query('1950 <= Year <= 2010')
#tiburon = var8
#tiburon
#var9 = tiburon.query('2000 <= Year <= 2010')
#tiburon = var9
#tiburon

In [1467]:
print(tiburon.loc[(tiburon["Year"] > 1950) & (tiburon["Fatal (Y/N)"] == "Y") & (tiburon["Sex "] == "M"),:])

       Case Number    Year Sex  Fatal (Y/N)
6     2018.06.03.a  2018.0    M           Y
64      2017.11.04  2017.0    M           Y
91    2017.09.03.b  2017.0    M           Y
144     2017.05.06  2017.0    M           Y
149   2017.04.29.a  2017.0    M           Y
174     2017.02.21  2017.0    M           Y
221     2016.09.06  2016.0    M           Y
271     2016.05.31  2016.0    M           Y
299     2016.03.10  2016.0    M           Y
325     2015.12.19  2015.0    M           Y
385     2015.07.25  2015.0    M           Y
425     2015.05.09  2015.0    M           Y
434     2015.04.12  2015.0    M           Y
440     2015.03.21  2015.0    M           Y
448     2015.02.09  2015.0    M           Y
464   2014.12.29.a  2014.0    M           Y
470     2014.12.15  2014.0    M           Y
473     2014.11.20  2014.0    M           Y
500     2014.09.09  2014.0    M           Y
571   2014.03.22.b  2014.0    M           Y
582     2014.02.08  2014.0    M           Y
596     2013.12.02  2013.0    M           Y
597     2013.11.30  2013.0    M           Y
599   2013.11.23.a  2013.0    M           Y
613     2013.10.11  2013.0    M           Y
655     2013.07.14  2013.0    M           Y
673   2013.05.23.b  2013.0    M           Y
677   2013.05.08.a  2013.0    M           Y
685   2013.04.13.a  2013.0    M           Y
696     2013.03.12  2013.0    M           Y
...            ...     ...  ...         ...
4321    1954.10.07  1954.0    M           Y
4326    1954.09.15  1954.0    M           Y
4327    1954.09.04  1954.0    M           Y
4332    1954.07.28  1954.0    M           Y
4334    1954.07.15  1954.0    M           Y
4337  1954.07.02.R  1954.0    M           Y
4341    1954.06.00  1954.0    M           Y
4342  1954.05.26.R  1954.0    M           Y
4346    1954.02.27  1954.0    M           Y
4351  1954.00.00.e  1954.0    M           Y
4353  1954.00.00.c  1954.0    M           Y
4363    1953.09.27  1953.0    M           Y
4370    1953.07.26  1953.0    M           Y
4385  1953.03.00.a  1953.0    M           Y
4392  1953.00.00.b  1953.0    M           Y
4398    1952.08.03  1952.0    M           Y
4399    1952.12.07  1952.0    M           Y
4400    1952.12.03  1952.0    M           Y
4407  1952.07.27.a  1952.0    M           Y
4418  1952.00.00.e  1952.0    M           Y
4420  1952.00.00.c  1952.0    M           Y
4421  1952.00.00.b  1952.0    M           Y
4422  1952.00.00.a  1952.0    M           Y
4423    1951.12.21  1951.0    M           Y
4426    1951.12.06  1951.0    M           Y
4430  1951.11.23.R  1951.0    M           Y
4431    1951.10.22  1951.0    M           Y
4435  1951.09.02-R  1951.0    M           Y
4442    1951.06.25  1951.0    M           Y
4452    1951.01.21  1951.0    M           Y

[489 rows x 4 columns]

In [1468]:
var8 = (tiburon[["Fatal (Y/N)","Sex "]].agg([pandas.Series.mean,pandas.Series.std])

#tiburon = var8
        
#tiburon

SyntaxError: unexpected EOF while parsing (<ipython-input-1468-b63d724790c1>, line 5)