In [1437]:
import pandas as pd
import os
from re import sub
import numpy
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
data = pd.read_csv('attacks.csv', encoding='latin-1')
data

In [1438]:
#PRIMER VISTAZO A LOS DATOS
#Después de haber importado la base de datos, lo primero que hago es buscar información 
#sobre el dataframe (¿Qué columnas la componen?, ¿Cuántos datos continenen?, 
#¿Hay alguna columna que pueda borrar?, etc.)

In [1439]:
#Cuantas líneas y columnas
data.shape

(25723, 24)

In [1440]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [1441]:
data.dtypes.head()

Case Number     object
Date            object
Year           float64
Type            object
Country         object
dtype: object

In [1442]:
#Creo una copia de la base de datos original, para trabajar desde esa copia
tiburon = data
tiburon

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,NaN,NaN
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,...,NaN,"C. Creswell, GSAF",2018.05.21-deBoer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.21,2018.05.21,6292.0,NaN,NaN
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,...,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b-Turrell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.b,2018.05.13.b,6291.0,NaN,NaN
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,NaN,NaN
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,...,"Tawny nurse shark, 2m","Perth Now, 6/30/2018",2018.05.00-Brunning.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.00,2018.05.00,6289.0,NaN,NaN
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,...,NaN,"B.Jacob, Dispatch Live, 5/12/2018",2018.05.12-EastLondon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.12,2018.05.12,6288.0,NaN,NaN
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,...,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0,NaN,NaN
17,2018.04.30.R,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,...,NaN,"K. McMurray, TrackingSharks.com",2018.04.30.R-Thailand.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.30.R,2018.04.30.R,6286.0,NaN,NaN
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,...,Tiger shark,Costa Rica Star. 4/28/2018,2018.04.28.b-CostaRica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.b,2018.04.28.b,6285.0,NaN,NaN
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,...,NaN,"B. Myatt, GSAF",2018.04.28.a-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.a,2018.04.28.a,6284.0,NaN,NaN
20,2018.04.25.b,25-Apr-2018,2018.0,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,Matthew Lee,M,...,Questionable,"B. Myatt, GSAF",2018.04.25.b-Lee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.25.b,2018.04.25.b,6283.0,NaN,NaN
21,2018.04.25.a,25-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,...,3 m shark,"B.Myatt, GSAF",2018.04.25.a-Bruce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.25.a,2018.04.25.a,6282.0,NaN,NaN
22,2018.04.24,24-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"South Point, Gracetown",Surfing,Nathan Burch,M,...,"White shark, 3.5 m","B. Myatt, GSAF",2018.04.24-Burch.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.24,2018.04.24,6281.0,NaN,NaN
23,2018.04.23,23-Apr-2018,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,...,Tiger shark,"K. McMurray, TrackingSharks.com",2018.04.23-Maldives.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.23,2018.04.23,6280.0,NaN,NaN
24,2018.04.22,22-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,...,"White shark, 2.5 m","Africa News Agency, 4/22/2018",2018.04.22-PlettenbergBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.22,2018.04.22,6279.0,NaN,NaN
25,2018.04.19,19-Apr-2018,2018.0,Unprovoked,USA,Hawaii,"Shipwrecks Beach, Keoneloa Bay, Kauai",Body boarding,Dylan McWilliams,M,...,6' shark,"The Garden Island, 4/19/2018",2018.04.19-McWilliams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.19,2018.04.19,6278.0,NaN,NaN
26,2018.04.15.d,15-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,Werner Danielsen,M,...,Juvenile bull shark,"Straits Times, 4/16/2018",2018.04.15.d-Thailand.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.d,2018.04.15.d,6277.0,NaN,NaN
27,2018.04.15.c,15-Apr-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,Pablo de Melo,M,...,NaN,"Globo, 4/16/2018",2018.04.15.c-deMelo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.c,2018.04.15.c,6276.0,NaN,NaN
28,2018.04.15.b,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Lefthanders, Margaret River Area",Surfing,Jason Longrass,M,...,NaN,"B.Myatt, GSAF",2018.04.15.b-Longrass.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.b,2018.04.15.b,6275.0,NaN,NaN
29,2018.04.15.a,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Cobblestones, Margaret River Area",Surfing,Alejandro Travaglini,M,...,NaN,"B.Myatt, GSAF",2018.04.15.a-Travaglini.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.a,2018.04.15.a,6274.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1443]:
#Voy a mirar cuantos nulos tengo en cada variable para ver si puedo borrar alguna columna
#tiburon.isnull().sum()

In [1444]:
#Voy a borrar estas columnas que tienen información incomprensible
#tiburon_quitar = tiburon.columns(['Date','Type','Country','Area','Location','Activity','Name','Age','Injury','Time','Species ','Investigator or Source','pdf','href formula','href','Case Number.1','Case Number.2','original order','Unnamed: 22','Unnamed: 23'], axis=0)
#tiburon = tiburon_quitar
#tiburon

col_malas = tiburon.drop(columns = ['Date','Type','Country','Area','Location','Activity','Name','Age','Injury','Time','Species ','Investigator or Source','pdf','href formula','href','Case Number.1','Case Number.2','original order','Unnamed: 22','Unnamed: 23'], axis=1)
tiburon = col_malas
tiburon
#col_malas2 = tiburon.drop(columns = ['Area','Location','Activity','Name'], axis=1)
#tiburon = col_malas2
#tiburon
#col_malas3 = tiburon.drop(columns = ['Date','Type','Country'], axis=1)
#tiburon = col_malas3
#tiburon

        Case Number    Year Sex  Fatal (Y/N)
0        2018.06.25  2018.0    F           N
1        2018.06.18  2018.0    F           N
2        2018.06.09  2018.0    M           N
3        2018.06.08  2018.0    M           N
4        2018.06.04  2018.0    M           N
5      2018.06.03.b  2018.0    M           N
6      2018.06.03.a  2018.0    M           Y
7        2018.05.27  2018.0    M           N
8      2018.05.26.b  2018.0    M           N
9      2018.05.26.a  2018.0    M           N
10       2018.05.24  2018.0    M           N
11       2018.05.21  2018.0    M           N
12     2018.05.13.b  2018.0    M           N
13     2018.05.13.a  2018.0    M           N
14       2018.05.00  2018.0    F           N
15       2018.05.12  2018.0    M           N
16       2018.05.09  2018.0    M           N
17     2018.04.30.R  2018.0    M           N
18     2018.04.28.b  2018.0    M           N
19     2018.04.28.a  2018.0    M           N
20     2018.04.25.b  2018.0    M           N
21     2018.04.25.a  2018.0    M           N
22       2018.04.24  2018.0    M           N
23       2018.04.23  2018.0    M           N
24       2018.04.22  2018.0    M           N
25       2018.04.19  2018.0    M           N
26     2018.04.15.d  2018.0    M           N
27     2018.04.15.c  2018.0    M         NaN
28     2018.04.15.b  2018.0    M           N
29     2018.04.15.a  2018.0    M           N
...             ...     ...  ...         ...
25693           NaN     NaN  NaN         NaN
25694           NaN     NaN  NaN         NaN
25695           NaN     NaN  NaN         NaN
25696           NaN     NaN  NaN         NaN
25697           NaN     NaN  NaN         NaN
25698           NaN     NaN  NaN         NaN
25699           NaN     NaN  NaN         NaN
25700           NaN     NaN  NaN         NaN
25701           NaN     NaN  NaN         NaN
25702           NaN     NaN  NaN         NaN
25703           NaN     NaN  NaN         NaN
25704           NaN     NaN  NaN         NaN
25705           NaN     NaN  NaN         NaN
25706           NaN     NaN  NaN         NaN
25707           NaN     NaN  NaN         NaN
25708           NaN     NaN  NaN         NaN
25709           NaN     NaN  NaN         NaN
25710           NaN     NaN  NaN         NaN
25711           NaN     NaN  NaN         NaN
25712           NaN     NaN  NaN         NaN
25713           NaN     NaN  NaN         NaN
25714           NaN     NaN  NaN         NaN
25715           NaN     NaN  NaN         NaN
25716           NaN     NaN  NaN         NaN
25717           NaN     NaN  NaN         NaN
25718           NaN     NaN  NaN         NaN
25719           NaN     NaN  NaN         NaN
25720           NaN     NaN  NaN         NaN
25721           NaN     NaN  NaN         NaN
25722            xx     NaN  NaN         NaN

[25723 rows x 4 columns]

In [1445]:
#HIPÓTESIS:

#Después de haber observado el DataFrame y el tipo de información que la integra, 
#considero que sería interesante realizar mi trabajo con respecto a la siguiente hipótesis:

#En los últimos años el número de ataques de tiburón tienen consecuencias menos importantes para sus víctimas. 
#Compararé los años 2000-2010 y los años 1950-1960, observando el número total de ataques así como su proporción.
#También quiero observar si hay más mujeres víctimas en los años 2000 que en los años 1950 (aunque no pueda
#mergear los datos con otro DataFrame que pueda demostrar la causalidad: creo que la emancipación 
#de las mujeres ha hecho que en los últimos años, ellas trabajen más fuera de casa 
#y que tengan más tiempo de ocio (en general, y por ende también en el mar).

In [1446]:
#Voy a crear una función para conocer número de valores de todas las columnas:

In [1447]:
def cls_counts(df):
    for col in df.columns:
        print("---%s---" %col)
        print(df[col].value_counts())

In [1448]:
#Lo pruebo:
cls_counts(tiburon)

---Case Number---
0                 2400
1983.06.15           2
1915.07.06.a.R       2
1990.05.10           2
2014.08.02           2
2006.09.02           2
1980.07.00           2
1913.08.27.R         2
1962.06.11.b         2
2013.10.05           2
1966.12.26           2
2009.12.18           2
2012.09.02.b         2
1920.00.00.b         2
1907.10.16.R         2
2005.04.06           2
1923.00.00.a         2
1932.04.16.a         1
1855.00.00           1
1931.06.13           1
1996.05.10           1
1928.08.24.R         1
1995.08.10.a         1
1936.06.06           1
1939.07.14           1
2000.09.00.b         1
1957.07.15           1
2010.10.02.a         1
1967.08.15           1
1924.03.24           1
                  ...
2002.11.28.b         1
1960.01.30           1
1965.06.19           1
ND.0009              1
2018.04.23           1
2017.05.12           1
1956.07.20           1
1960.10.02           1
1976.03.09           1
1995.09.13           1
1888.10.23.R         1
2018.01.12           1
1981.00.00.b         1
1961.05.15           1
2008.05.26           1
0077.00.00           1
1947.11.08.a         1
2004.02.29           1
1988.07.04.b         1
1959.02.01           1
1849.10.04           1
2000.10.14           1
2017.09.16.b         1
1996.09.01.a         1
2006.07.10           1
1945.09.19           1
1990.08.19.b         1
1865.00.00           1
1907.07.00           1
1996.01.14.b         1
Name: Case Number, Length: 6287, dtype: int64
---Year---
2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
0.0       125
2008.0    122
2013.0    122
2009.0    120
2012.0    117
2007.0    112
2006.0    103
2005.0    103
2010.0    101
2000.0     97
1959.0     93
1960.0     93
2003.0     92
2004.0     92
2001.0     92
2002.0     88
1962.0     86
1961.0     78
1995.0     76
1999.0     66
1964.0     66
1998.0     65
1963.0     61
1996.0     61
1966.0     58
         ...
1784.0      1
1617.0      1
1764.0      1
1721.0      1
1792.0      1
1834.0      1
1841.0      1
1595.0      1
1755.0      1
1738.0      1
1807.0      1
1723.0      1
1804.0      1
1780.0      1
1801.0      1
1767.0      1
1815.0      1
1822.0      1
1818.0      1
1783.0      1
1797.0      1
1800.0      1
1771.0      1
1748.0      1
1555.0      1
1753.0      1
77.0        1
1785.0      1
1580.0      1
1543.0      1
Name: Year, Length: 249, dtype: int64
---Sex ---
M      5094
F       637
N         2
M         2
.         1
lli       1
Name: Sex , dtype: int64
---Fatal (Y/N)---
N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
M             1
N             1
2017          1
Name: Fatal (Y/N), dtype: int64

In [1449]:
#CASE NUMBER
#En primer lugar, quiero eliminar las filas duplicadas en la columna Case Number, 
#ya que cada fila debería tener un valor diferente:

In [1450]:
var3 = tiburon['Case Number'] 
var3 = tiburon.drop_duplicates(subset=['Case Number'], keep='first')
tiburon['Case Number'] = var3
tiburon

        Case Number    Year Sex  Fatal (Y/N)
0        2018.06.25  2018.0    F           N
1        2018.06.18  2018.0    F           N
2        2018.06.09  2018.0    M           N
3        2018.06.08  2018.0    M           N
4        2018.06.04  2018.0    M           N
5      2018.06.03.b  2018.0    M           N
6      2018.06.03.a  2018.0    M           Y
7        2018.05.27  2018.0    M           N
8      2018.05.26.b  2018.0    M           N
9      2018.05.26.a  2018.0    M           N
10       2018.05.24  2018.0    M           N
11       2018.05.21  2018.0    M           N
12     2018.05.13.b  2018.0    M           N
13     2018.05.13.a  2018.0    M           N
14       2018.05.00  2018.0    F           N
15       2018.05.12  2018.0    M           N
16       2018.05.09  2018.0    M           N
17     2018.04.30.R  2018.0    M           N
18     2018.04.28.b  2018.0    M           N
19     2018.04.28.a  2018.0    M           N
20     2018.04.25.b  2018.0    M           N
21     2018.04.25.a  2018.0    M           N
22       2018.04.24  2018.0    M           N
23       2018.04.23  2018.0    M           N
24       2018.04.22  2018.0    M           N
25       2018.04.19  2018.0    M           N
26     2018.04.15.d  2018.0    M           N
27     2018.04.15.c  2018.0    M         NaN
28     2018.04.15.b  2018.0    M           N
29     2018.04.15.a  2018.0    M           N
...             ...     ...  ...         ...
25693           NaN     NaN  NaN         NaN
25694           NaN     NaN  NaN         NaN
25695           NaN     NaN  NaN         NaN
25696           NaN     NaN  NaN         NaN
25697           NaN     NaN  NaN         NaN
25698           NaN     NaN  NaN         NaN
25699           NaN     NaN  NaN         NaN
25700           NaN     NaN  NaN         NaN
25701           NaN     NaN  NaN         NaN
25702           NaN     NaN  NaN         NaN
25703           NaN     NaN  NaN         NaN
25704           NaN     NaN  NaN         NaN
25705           NaN     NaN  NaN         NaN
25706           NaN     NaN  NaN         NaN
25707           NaN     NaN  NaN         NaN
25708           NaN     NaN  NaN         NaN
25709           NaN     NaN  NaN         NaN
25710           NaN     NaN  NaN         NaN
25711           NaN     NaN  NaN         NaN
25712           NaN     NaN  NaN         NaN
25713           NaN     NaN  NaN         NaN
25714           NaN     NaN  NaN         NaN
25715           NaN     NaN  NaN         NaN
25716           NaN     NaN  NaN         NaN
25717           NaN     NaN  NaN         NaN
25718           NaN     NaN  NaN         NaN
25719           NaN     NaN  NaN         NaN
25720           NaN     NaN  NaN         NaN
25721           NaN     NaN  NaN         NaN
25722            xx     NaN  NaN         NaN

[25723 rows x 4 columns]

In [1451]:
#Conocer el número de filas después de haber borrado los duplicados:
tiburon.shape

(25723, 4)

In [1452]:
#Ahora voy a trabajar con la columna Year:

In [1453]:
#YEAR
tiburon["Year"].value_counts()

#Observo que los registros son float y que también hay valores inverosímiles.

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
0.0       125
2008.0    122
2013.0    122
2009.0    120
2012.0    117
2007.0    112
2006.0    103
2005.0    103
2010.0    101
2000.0     97
1959.0     93
1960.0     93
2003.0     92
2004.0     92
2001.0     92
2002.0     88
1962.0     86
1961.0     78
1995.0     76
1999.0     66
1964.0     66
1998.0     65
1963.0     61
1996.0     61
1966.0     58
         ...
1784.0      1
1617.0      1
1764.0      1
1721.0      1
1792.0      1
1834.0      1
1841.0      1
1595.0      1
1755.0      1
1738.0      1
1807.0      1
1723.0      1
1804.0      1
1780.0      1
1801.0      1
1767.0      1
1815.0      1
1822.0      1
1818.0      1
1783.0      1
1797.0      1
1800.0      1
1771.0      1
1748.0      1
1555.0      1
1753.0      1
77.0        1
1785.0      1
1580.0      1
1543.0      1
Name: Year, Length: 249, dtype: int64

In [1454]:
#Voy a ponerle otro valor a los valores nulos y así poder cambiar el tipo de los registros de Year:
#var4 = tiburon.fillna(0)
#tiburon = var4
#tiburon

In [1455]:
#Voy a cambiar el tipo de los registros de la columna Year para quitar el ".0" 
#de todos los valores, ahora que ya no tengo valores nulos:

var5 = tiburon["Year"].astype("object")
tiburon["Year"]= var5
tiburon

        Case Number  Year Sex  Fatal (Y/N)
0        2018.06.25  2018    F           N
1        2018.06.18  2018    F           N
2        2018.06.09  2018    M           N
3        2018.06.08  2018    M           N
4        2018.06.04  2018    M           N
5      2018.06.03.b  2018    M           N
6      2018.06.03.a  2018    M           Y
7        2018.05.27  2018    M           N
8      2018.05.26.b  2018    M           N
9      2018.05.26.a  2018    M           N
10       2018.05.24  2018    M           N
11       2018.05.21  2018    M           N
12     2018.05.13.b  2018    M           N
13     2018.05.13.a  2018    M           N
14       2018.05.00  2018    F           N
15       2018.05.12  2018    M           N
16       2018.05.09  2018    M           N
17     2018.04.30.R  2018    M           N
18     2018.04.28.b  2018    M           N
19     2018.04.28.a  2018    M           N
20     2018.04.25.b  2018    M           N
21     2018.04.25.a  2018    M           N
22       2018.04.24  2018    M           N
23       2018.04.23  2018    M           N
24       2018.04.22  2018    M           N
25       2018.04.19  2018    M           N
26     2018.04.15.d  2018    M           N
27     2018.04.15.c  2018    M         NaN
28     2018.04.15.b  2018    M           N
29     2018.04.15.a  2018    M           N
...             ...   ...  ...         ...
25693           NaN   NaN  NaN         NaN
25694           NaN   NaN  NaN         NaN
25695           NaN   NaN  NaN         NaN
25696           NaN   NaN  NaN         NaN
25697           NaN   NaN  NaN         NaN
25698           NaN   NaN  NaN         NaN
25699           NaN   NaN  NaN         NaN
25700           NaN   NaN  NaN         NaN
25701           NaN   NaN  NaN         NaN
25702           NaN   NaN  NaN         NaN
25703           NaN   NaN  NaN         NaN
25704           NaN   NaN  NaN         NaN
25705           NaN   NaN  NaN         NaN
25706           NaN   NaN  NaN         NaN
25707           NaN   NaN  NaN         NaN
25708           NaN   NaN  NaN         NaN
25709           NaN   NaN  NaN         NaN
25710           NaN   NaN  NaN         NaN
25711           NaN   NaN  NaN         NaN
25712           NaN   NaN  NaN         NaN
25713           NaN   NaN  NaN         NaN
25714           NaN   NaN  NaN         NaN
25715           NaN   NaN  NaN         NaN
25716           NaN   NaN  NaN         NaN
25717           NaN   NaN  NaN         NaN
25718           NaN   NaN  NaN         NaN
25719           NaN   NaN  NaN         NaN
25720           NaN   NaN  NaN         NaN
25721           NaN   NaN  NaN         NaN
25722            xx   NaN  NaN         NaN

[25723 rows x 4 columns]

In [1456]:
#No soy capaz de quitar los 0
var6 = tiburon.dropna(how = 'any')
tiburon = var6
tiburon

#Esto está bien:
#var7 = tiburon.loc[~(tiburon!=0).any(axis=1)]
#tiburon = var7
#tiburon

       Case Number  Year Sex  Fatal (Y/N)
0       2018.06.25  2018    F           N
1       2018.06.18  2018    F           N
2       2018.06.09  2018    M           N
3       2018.06.08  2018    M           N
4       2018.06.04  2018    M           N
5     2018.06.03.b  2018    M           N
6     2018.06.03.a  2018    M           Y
7       2018.05.27  2018    M           N
8     2018.05.26.b  2018    M           N
9     2018.05.26.a  2018    M           N
10      2018.05.24  2018    M           N
11      2018.05.21  2018    M           N
12    2018.05.13.b  2018    M           N
13    2018.05.13.a  2018    M           N
14      2018.05.00  2018    F           N
15      2018.05.12  2018    M           N
16      2018.05.09  2018    M           N
17    2018.04.30.R  2018    M           N
18    2018.04.28.b  2018    M           N
19    2018.04.28.a  2018    M           N
20    2018.04.25.b  2018    M           N
21    2018.04.25.a  2018    M           N
22      2018.04.24  2018    M           N
23      2018.04.23  2018    M           N
24      2018.04.22  2018    M           N
25      2018.04.19  2018    M           N
26    2018.04.15.d  2018    M           N
28    2018.04.15.b  2018    M           N
29    2018.04.15.a  2018    M           N
30      2018.04.14  2018    M           N
...            ...   ...  ...         ...
6270       ND.0033     0    M           N
6271       ND.0032     0    M           N
6272       ND.0031     0    M           N
6273       ND.0030     0    M           Y
6274       ND.0028     0    M           N
6275       ND.0027     0    M           N
6276       ND.0026     0    M           Y
6277       ND.0025     0    M     UNKNOWN
6279       ND.0023     0    F           N
6280       ND.0022     0    M           N
6281       ND.0021     0    M           Y
6282       ND.0020     0    M           Y
6283       ND.0019     0    M           N
6284       ND.0018     0    M           N
6285       ND.0017     0    M           Y
6286       ND.0016     0    M           Y
6288       ND.0014     0    M           N
6289       ND.0013     0    M           Y
6290       ND.0012     0    M           Y
6291       ND.0011     0    M           N
6292       ND.0010     0    F           N
6293       ND.0009     0    M           Y
6294       ND.0008     0    M           Y
6295       ND.0007     0    M           Y
6296       ND.0006     0    M           Y
6297       ND.0005     0    M           Y
6298       ND.0004     0    M           Y
6299       ND.0003     0    M           Y
6300       ND.0002     0    M           Y
6301       ND.0001     0    M           Y

[5263 rows x 4 columns]

In [1457]:
#data5 = data4[data4["Year"]!= 0].copy()
#ass1 = data4[data4["Year"]!= 0].copy()
#ass1
#data4["Year"] = ass1
#cls_counts(data4)

In [1458]:
#Voy a borrar los registros que no contienen año o un año realista (por ejemplo, 5, 77), 
#ya que va a resultar imposible trabajar con ello.
#Podría basarme en los registros como Case Number, pero tampoco tengo la certeza de que esos datos estén bien, y el 
#número de datos no es mi significativo para el total de registros que contiene la columna Years.

#data4["Year"].replace([0, 5, 77],[1, 1, 1])
#data5["Year"] = data4["Year"]

In [1459]:
#data6 = data5.drop([1],axis=0)
#data6
#data5["Year"] = data5.set_index("Year",inplace=True)
#data4.drop["Year"]([1, 0, 5, 77], axis=0)
#data5.drop([1], axis=0,inplace=True)

#data = data.set_index("Area")
#data = data.drop("Ireland", axis=0)

In [1460]:
#ass2 = data4["Year"].drop < 1000

#data4["Year"] = ass2
#data4.head()

#cols_no_nulls = raw_df2.columns[raw_df2.isnull().sum() < 1000]
#data_clean = data_clean[data_clean["Months"] & data_clean["Year"] != 0].copy()

In [1461]:
#FATAL
#tiburon["Fatal (Y/N)"].value_counts()

In [1462]:
#var7 = data2.replace(['y', ' N','N ','M','2017',],['Y','N','N','N','UNKNOWN'])
#No entiendo porqué Year vuelve a ser un float
var7 = tiburon.replace("[^N]", "N")
tiburon = var7
tiburon
#data3["Fatal (Y/N)"].value_counts()

       Case Number    Year Sex  Fatal (Y/N)
0       2018.06.25  2018.0    F           N
1       2018.06.18  2018.0    F           N
2       2018.06.09  2018.0    M           N
3       2018.06.08  2018.0    M           N
4       2018.06.04  2018.0    M           N
5     2018.06.03.b  2018.0    M           N
6     2018.06.03.a  2018.0    M           Y
7       2018.05.27  2018.0    M           N
8     2018.05.26.b  2018.0    M           N
9     2018.05.26.a  2018.0    M           N
10      2018.05.24  2018.0    M           N
11      2018.05.21  2018.0    M           N
12    2018.05.13.b  2018.0    M           N
13    2018.05.13.a  2018.0    M           N
14      2018.05.00  2018.0    F           N
15      2018.05.12  2018.0    M           N
16      2018.05.09  2018.0    M           N
17    2018.04.30.R  2018.0    M           N
18    2018.04.28.b  2018.0    M           N
19    2018.04.28.a  2018.0    M           N
20    2018.04.25.b  2018.0    M           N
21    2018.04.25.a  2018.0    M           N
22      2018.04.24  2018.0    M           N
23      2018.04.23  2018.0    M           N
24      2018.04.22  2018.0    M           N
25      2018.04.19  2018.0    M           N
26    2018.04.15.d  2018.0    M           N
28    2018.04.15.b  2018.0    M           N
29    2018.04.15.a  2018.0    M           N
30      2018.04.14  2018.0    M           N
...            ...     ...  ...         ...
6270       ND.0033     0.0    M           N
6271       ND.0032     0.0    M           N
6272       ND.0031     0.0    M           N
6273       ND.0030     0.0    M           Y
6274       ND.0028     0.0    M           N
6275       ND.0027     0.0    M           N
6276       ND.0026     0.0    M           Y
6277       ND.0025     0.0    M     UNKNOWN
6279       ND.0023     0.0    F           N
6280       ND.0022     0.0    M           N
6281       ND.0021     0.0    M           Y
6282       ND.0020     0.0    M           Y
6283       ND.0019     0.0    M           N
6284       ND.0018     0.0    M           N
6285       ND.0017     0.0    M           Y
6286       ND.0016     0.0    M           Y
6288       ND.0014     0.0    M           N
6289       ND.0013     0.0    M           Y
6290       ND.0012     0.0    M           Y
6291       ND.0011     0.0    M           N
6292       ND.0010     0.0    F           N
6293       ND.0009     0.0    M           Y
6294       ND.0008     0.0    M           Y
6295       ND.0007     0.0    M           Y
6296       ND.0006     0.0    M           Y
6297       ND.0005     0.0    M           Y
6298       ND.0004     0.0    M           Y
6299       ND.0003     0.0    M           Y
6300       ND.0002     0.0    M           Y
6301       ND.0001     0.0    M           Y

[5263 rows x 4 columns]

In [1463]:
#No consigo hacer que el número de casos sea count
#tiburon['Case Number'] = [len(x) for x in tiburon ['Case number Count']]
#tiburon

In [1464]:
#Después de haber limpiado un poco mis columnas, voy a agrupar las columnas que me interesan
#de manera a poder estudiarlas con mayor profundidad

In [1465]:
#df_pivot = tiburon.pivot_table(values = 'len()', columns = 'Year','Fatal (Y/N)', index = ['Sex '])
#tiburon = df_pivot
#tiburon

In [1466]:
#var8 = tiburon.query('1950 <= Year <= 2010')
#tiburon = var8
#tiburon
#var9 = tiburon.query('2000 <= Year <= 2010')
#tiburon = var9
#tiburon

In [1467]:
print(tiburon.loc[(tiburon["Year"] > 1950) & (tiburon["Fatal (Y/N)"] == "Y") & (tiburon["Sex "] == "M"),:])

       Case Number    Year Sex  Fatal (Y/N)
6     2018.06.03.a  2018.0    M           Y
64      2017.11.04  2017.0    M           Y
91    2017.09.03.b  2017.0    M           Y
144     2017.05.06  2017.0    M           Y
149   2017.04.29.a  2017.0    M           Y
174     2017.02.21  2017.0    M           Y
221     2016.09.06  2016.0    M           Y
271     2016.05.31  2016.0    M           Y
299     2016.03.10  2016.0    M           Y
325     2015.12.19  2015.0    M           Y
385     2015.07.25  2015.0    M           Y
425     2015.05.09  2015.0    M           Y
434     2015.04.12  2015.0    M           Y
440     2015.03.21  2015.0    M           Y
448     2015.02.09  2015.0    M           Y
464   2014.12.29.a  2014.0    M           Y
470     2014.12.15  2014.0    M           Y
473     2014.11.20  2014.0    M           Y
500     2014.09.09  2014.0    M           Y
571   2014.03.22.b  2014.0    M           Y
582     2014.02.08  2014.0    M           Y
596     2013.12.02  2013.0    M           Y
597     2013.11.30  2013.0    M           Y
599   2013.11.23.a  2013.0    M           Y
613     2013.10.11  2013.0    M           Y
655     2013.07.14  2013.0    M           Y
673   2013.05.23.b  2013.0    M           Y
677   2013.05.08.a  2013.0    M           Y
685   2013.04.13.a  2013.0    M           Y
696     2013.03.12  2013.0    M           Y
...            ...     ...  ...         ...
4321    1954.10.07  1954.0    M           Y
4326    1954.09.15  1954.0    M           Y
4327    1954.09.04  1954.0    M           Y
4332    1954.07.28  1954.0    M           Y
4334    1954.07.15  1954.0    M           Y
4337  1954.07.02.R  1954.0    M           Y
4341    1954.06.00  1954.0    M           Y
4342  1954.05.26.R  1954.0    M           Y
4346    1954.02.27  1954.0    M           Y
4351  1954.00.00.e  1954.0    M           Y
4353  1954.00.00.c  1954.0    M           Y
4363    1953.09.27  1953.0    M           Y
4370    1953.07.26  1953.0    M           Y
4385  1953.03.00.a  1953.0    M           Y
4392  1953.00.00.b  1953.0    M           Y
4398    1952.08.03  1952.0    M           Y
4399    1952.12.07  1952.0    M           Y
4400    1952.12.03  1952.0    M           Y
4407  1952.07.27.a  1952.0    M           Y
4418  1952.00.00.e  1952.0    M           Y
4420  1952.00.00.c  1952.0    M           Y
4421  1952.00.00.b  1952.0    M           Y
4422  1952.00.00.a  1952.0    M           Y
4423    1951.12.21  1951.0    M           Y
4426    1951.12.06  1951.0    M           Y
4430  1951.11.23.R  1951.0    M           Y
4431    1951.10.22  1951.0    M           Y
4435  1951.09.02-R  1951.0    M           Y
4442    1951.06.25  1951.0    M           Y
4452    1951.01.21  1951.0    M           Y

[489 rows x 4 columns]

In [1468]:
var8 = (tiburon[["Fatal (Y/N)","Sex "]].agg([pandas.Series.mean,pandas.Series.std])

#tiburon = var8
        
#tiburon

SyntaxError: unexpected EOF while parsing (<ipython-input-1468-b63d724790c1>, line 5)